
:root {
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --primary: #00acc1 !important;
    --line-height: 1.4 !important;
    --form-element-spacing-vertical: 0.60rem !important;
    --font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}


html{
}

/*main {*/
/*    padding: 2rem 4rem 0 4rem;*/
/*}*/

body > nav{
box-shadow: 0 1px 0 var(--nav-border-color);
}

.button-group {
    margin-top: 8px;
}

h1.header{
    margin-bottom: 0;
}

.mxw-30 {
    max-width: 30rem;
}

.toaster-wrapper {

    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;

}
